<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="share/layoutAdmin">

<head>
<title>图谱编辑</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style type="text/css">
.pl-20{
padding-left:20px
}
.linkdelete{
	cursor:url("/images/jiandao.png"),auto
}
</style>
</head>

<body>
	<div layout:fragment="content">
		  <div class="mind-box">
    <!-- 左侧 -->
    <el-scrollbar class="mind-l">
      <div class="ml-m" v-if="domainnodes.length>0">
        <h2 class="ml-ht">概念实体列表</h2>
        <div class="ml-a-box" >
          <a v-for="m in domainnodes" href="javascript:void(0)" class="ml-a">
          	<span>{{m.name}}</span>
          </a>
        </div>
        <div class="ml-btn-box">
          <a href="#" class="ml-btn">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-left1"></use>
            </svg>
          </a>
          <a href="#" class="ml-btn">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-right1"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="ml-m" v-if="domainpropnodes.length>0">
        <h2 class="ml-ht">属性列表</h2>
        <div class="ml-a-box" >
          <a v-for="m in domainpropnodes" href="javascript:void(0)" class="ml-a">
          	<span>{{m.name}}</span>
          </a>
        </div>
        <div class="ml-btn-box">
          <a href="#" class="ml-btn">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-left1"></use>
            </svg>
          </a>
          <a href="#" class="ml-btn">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-right1"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="ml-m" v-if="domainmethodnodes.length>0">
        <h2 class="ml-ht">函数列表</h2>
        <div class="ml-a-box" >
          <a v-for="m in domainmethodnodes" href="javascript:void(0)" class="ml-a">
          	<span>{{m.name}}</span>
          </a>
         
        </div>
        <div class="ml-btn-box">
          <a href="#" class="ml-btn">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-left1"></use>
            </svg>
          </a>
          <a href="#" class="ml-btn">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-right1"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="ml-m" v-if="domainentitynodes.length>0">
        <h2 class="ml-ht">实体列表</h2>
        <div class="ml-a-box" >
          <a v-for="m in domainentitynodes" href="javascript:void(0)" class="ml-a">
          	<span>{{m.name}}</span>
          </a>
        </div>
        <div class="ml-btn-box">
          <a href="#" class="ml-btn">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-left1"></use>
            </svg>
          </a>
          <a href="#" class="ml-btn">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-right1"></use>
            </svg>
          </a>
        </div>
      </div>
    </el-scrollbar>
    <!-- 左侧over -->
    <!-- 右侧 -->
    <div class="mind-con">
      <!-- 头部 -->
      <div class="mind-top clearfix">
        <div class="fl">
          <span class="mt-m">当前节点：<i>{{selectnode.name}}</i></span>
          <span class="mt-m">关系节点数量：<b>{{selectnode.count}}</b></span>
          <div class="search">
            <el-button>
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-search"></use>
              </svg>
            </el-button>
            <el-input placeholder="" value="请输入关键词"></el-input>
          </div>
          <el-alert v-show="tips!=''":title="tips" type="success"></el-alert>
        </div>
        <div class="fr">
          <a href="javascript:void(0)" @click="loadChart" class="svg-a-sm">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-shuaxin"></use>
            </svg>刷新 
          </a>
          <a href="javascript:void(0)" class="svg-a-sm" >
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-quanp"></use>
            </svg>全屏
          </a>
          <a href="javascript:void(0)" @click="btnaddnode" class="btn-line btn-bo">添加节点</a>
          <a href="javascript:void(0)" @click="btnaddlink" class="btn-line btn-bo">添加连线</a>
          <a href="javascript:void(0)" @click="btndeletelink" class="btn-line btn-bo">删除连线</a>
        </div>
      </div>
      <!-- 头部over -->
      <!-- 中部 -->
      <el-scrollbar :class="[isedit ? 'half-auto' : '', 'mind-cen']" >
        <div class="graphcontainer"></div>
      </el-scrollbar>
      <!-- 中部over -->
      <!-- 底部 -->
      <el-scrollbar class="mind-bottom" v-show="isedit">
        <div class="mb-l">属性编辑</div>
        <div class="mb-r">
        <div class="mb-m">
            <div class="mb-label">节点名称</div>
            <div class="mb-con">
              <el-input v-model="graphEntity.name"></el-input>
            </div>
          </div>
          <div class="mb-m">
            <div class="mb-label">节点属性</div>
            <div class="mb-con">
              <el-radio-group v-model="graphEntity.entitytype">
                <el-radio :label="'0'">概念实体</el-radio>
                <el-radio :label="'1'">实体</el-radio>
                <el-radio :label="'2'">属性</el-radio>
                <el-radio :label="'3'">函数</el-radio>
              </el-radio-group>
            </div>
          </div>
          <div class="mb-m">
            <div class="mb-label">可视化组件</div>
              <div class="mb-con">
	              <el-radio-group v-model="graphEntity.showstyle">
	              	<el-radio :label="'0'">
	                  <svg class="icon" aria-hidden="true">
	                    <use xlink:href="#icon-map-s"></use>
	                  </svg>
	                  	文本
	                </el-radio>
	                <el-radio :label="'1'">
	                  <svg class="icon" aria-hidden="true">
	                    <use xlink:href="#icon-map-s"></use>
	                  </svg>
	                  	地图
	                </el-radio>
	                <el-radio :label="'2'">
	                  <svg class="icon" aria-hidden="true">
	                    <use xlink:href="#icon-map"></use>
	                  </svg>
	                  	散点图
	                </el-radio>
	                <el-radio :label="'3'">
	                  <svg class="icon" aria-hidden="true">
	                    <use xlink:href="#icon-Bargraph"></use>
	                  </svg>
	                 	 柱状图
	                </el-radio>
	                <el-radio :label="'4'">
	                  <svg class="icon" aria-hidden="true">
	                    <use xlink:href="#icon-Sector"></use>
	                  </svg>
	                	  饼图
	                </el-radio>
	                <el-radio :label="'5'">
	                  <svg class="icon" aria-hidden="true">
	                    <use xlink:href="#icon-zhexian"></use>
	                  </svg>
	                 	 折线图
	                </el-radio>
	              </el-radio-group>
              </div>
          </div>
          <div class="mb-m">
            <div class="mb-label">意图关键词</div>
            <div class="mb-con">
             	<el-input
				  type="textarea"
				  :autosize="{ minRows: 2, maxRows: 4}"
				  placeholder="多个关键词用英文分号隔开"
				  v-model="graphfilter">
				</el-input>
            </div>
          </div>
          <div class="mb-m" v-show="graphEntity.entitytype==3">
            <div class="mb-label">检索目标表</div>
            <div class="mb-con">
              <el-input v-model="graphEntity.targettable"></el-input>
            </div>
          </div>
          <div class="mb-m">
            <div class="mb-label">单位</div>
            <div class="mb-con">
              <el-input v-model="graphEntity.unit"></el-input>
            </div>
          </div>
          <div class="mb-m">
            <div class="mb-label">排序码</div>
            <div class="mb-con">
              <el-input v-model="graphEntity.sortcode"></el-input>
            </div>
          </div>
          <div class="mb-m">
            <div class="mb-label">数据纬度</div>
            <div class="mb-con">
	           <el-tabs v-model="activeName" class="line-tab">
                   <el-tab-pane label="选择数据源及字段" >
                     <el-collapse v-model="dataconfigactive" accordion class="coll-list">
	                  <el-collapse-item name="dataconfig">
	                    <template slot="title">
	                      <span class="fl">数据源选择</span>
	                      <div class="fr">
	                        <span class="cgreen">已配置:</span>
	                        <span class="cg9">数据表格:{{graphEntity.table}} 字段:{{graphEntity.field}}</span>
	                        <i class="coll-svg">
	                          <svg class="icon" aria-hidden="true">
	                            <use xlink:href="#icon-zk-t"></use>
	                          </svg>
	                        </i>
	                      </div>
	                    </template>
	                    <div class="line-tab-box">
	                      <el-scrollbar class="line-tab-lhide">
	                        <div class="search">
	                          <el-button>
	                            <svg class="icon" aria-hidden="true">
	                              <use xlink:href="#icon-search"></use>
	                            </svg>
	                          </el-button>
	                          <el-input  v-model="querywords"></el-input>
	                        </div>
							<template v-if="dataSourceList.length>0">
							 <div v-for="(d,dindex) in dataSourceList"  :class="[d.dbopenstate ? 'cur' : '', 'ds-tree']"><!-- 选中某一连接的时候为添加数据源按钮增加一个cur样式名 -->
	                          <div @click="selecteddatasource(d,dindex)" :class="[d.selected ? '' : '', 'ds-tree-ht']">
	                            <h3 class="ds-ht-h3">{{d.name}}({{d.dbtype}})</h3>
	                          </div>
	                          <dl v-if="d.dbopenstate" class="view-jm-tree">
	                            <dt @click="gettablelist(d)"  :class="d.tbopenstate ? 'i-open' : ''">表</dt>
	                            <template v-if="d.tableList.length>0&&d.tbopenstate">
		                            <dd v-for="(t,tindex) in d.tableList">
		                              <svg class="icon" aria-hidden="true">
		                                <use xlink:href="#icon-danxuankuang"></use>
		                              </svg>
		                              <span @click="getFieldlist(t,d.tableList)" :class="{'co': checkIselected(t.name)}">{{t.name}}</span>
		                            </dd>
	                            </template>
	                          </dl>
	                        </div>
							</template>
	                      </el-scrollbar>
	                      <el-scrollbar class="line-tab-r">
		                      <el-radio-group v-if="fieldDataList" v-model="graphEntity.field">
							    <el-radio v-for="f in fieldDataList" :label="f.fieldname">{{f.fieldname}}</el-radio>
							  </el-radio-group>
	                      </el-scrollbar>
	                    </div>
	                  </el-collapse-item>
	              </el-collapse>
                   </el-tab-pane>
                   <el-tab-pane label="通过代码实现">
	                     <div class="mb-bb-box">
	                       <div class="result-box-sm">
	                         <div class="re-ht-sm">构建sql语句</div>
	                         <el-scrollbar class="re-con-hide">
	                            <el-input
							  type="textarea"
							  :autosize="{ minRows: 2, maxRows: 4}"
							  placeholder="请输入sql"
							  v-model="graphEntity.sql">
							</el-input>
								<el-input v-model="graphEntity.detailshowfield"  placeholder="细览字段" style="margin-top:10px"></el-input>
	                         </el-scrollbar>
	                       </div>
	                     </div>
	                   </el-tab-pane>
	           </el-tabs>
            </div>
          </div>
          <div class="mb-m tc">
          	<el-button v-if="graphEntity.uuid!=0" type="primary" @click="createnode">更新</el-button>
          	<el-button v-else type="primary" @click="createnode">创建</el-button>
    		<el-button @click="resetsubmit">取消</el-button>
          </div>
          
        </div>
      </el-scrollbar>
      <!-- 底部over -->
    </div>
    <!-- 右侧over -->
    <ul class="el-dropdown-menu el-popper" id="my_custom_menu" style="display: none;">
	    <li  class="el-dropdown-menu__item"> 
	    	<svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-chakan"></use>
            </svg>
			<span class="pl-15">查看</span>
        </li> 
        <li  class="el-dropdown-menu__item" @click="btnedit"> 
	    	<svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-editor"></use>
            </svg>
            <span class="pl-15">编辑</span>
        </li> 
        <li class="el-dropdown-menu__item" @click="btndeletenode"> 
	    	<svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-shanchu"></use>
            </svg>
            <span class="pl-15">删除</span>
        </li> 
    </ul>
  </div>
	</div>
</body>

<div layout:fragment="jscontent">
    <script src="http://d3js.org/d3.v3.min.js"></script>
	<script th:inline="javascript" type="text/javascript">
	 var initdomain=function(){
		 var domain=[[${domain}]];
		 this.domain=domain;
	 }
	</script>
	<script th:inline="javascript" type="text/javascript" th:src="@{/js/knowledgegraphbuilder.js}"></script> 
</div>
</html>