<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">

<body>
    <div th:fragment="focus">
       <div ref="followUs" v-bind:class="[scrollTop>followUsPosition ? 'gd' : '', 'guanzhu']" id="follow-us">
		      <h2 class="hometitle">关注我们 么么哒！</h2>
		      <ul>
		        <li class="qq"><a href="/" target="_blank"><span>QQ号</span>1130196938</a></li>
		        <li class="email"><a href="/" target="_blank"><span>邮箱帐号</span>1130196938@qq.com</a></li>
		        <li class="wx"><img th:src="@{/images/tan_weixin_qr_1.jpg}"></li>
		      </ul>
		    </div>
    </div>
</body>

</html>