<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">

<body>
    <div th:fragment="footer">
	    <div class="links grey-link">
	          <div class="copyright grey-color p-h-sm d-none">© 2017-2018 Copyright by 暖暖动听 Cloud All rights reserved</div>
	          <div class="icp grey-color">
	          	<a href="http://www.miaoleyan.com/" target="_blank"><img alt="瞄了眼" th:src="@{/images/logo/logo.png}"></a>
	            <a target="_blank" href="#"><span class="icon icon-aq">京ICP备17043651号-1</span></a>
	            <a><span><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1272821228'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1272821228%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></span></a>
	          </div>
        </div>  
    </div>
</body>

</html>