<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<body>
	<div th:fragment="header">
		 <div class="menu">
		    <nav class="nav" id="topnav">
		      <h1 class="logo"><a href="/">֪KGBulider</a></h1>
		      <ul v-if="navList" style="float: left;margin-left: 60px;">
			      <template v-for="nav in navList">
				      <li @mouseover="selectStyle(nav)" @mouseout="outStyle(nav)">
				        <a :class="{'a_active':currentUrl==nav.linkUrl}"  :href="nav.linkUrl">{{nav.title}}</a>
				        <ul class="sub-nav" v-if="nav.childrens" v-show="nav.active">
				          <li v-for="children in nav.childrens">
				           	<a :href="children.linkUrl">{{children.title}}</a>
				          </li>
				        </ul>
				      </li>
				      </template>
		      </ul>
		      
		    </nav>
		  </div>
		  <a target="_blank" href="https://github.com/MiracleTanC?tab=repositories">
			<img style="position: absolute; top: 0px;width: 100px; right: 0; border: 0;z-index: 999;" src="http://file.miaoleyan.com/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
		  </a>
	</div>
</body>
</html>