<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">

<body>
    <div th:fragment="headerAdmin">
        <!-- 头部工具栏 -->
                <div class="row border-bottom">
		            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
		                <div class="navbar-header" style="">
		                    <a class="navbar-minimalize minimalize-styl-2 " href="#">
		                        <i id="sideIcon" class="glyphicon glyphicon-chevron-left"></i>
		                    </a>
		                </div>
		                <ul class="nav navbar-top-links navbar-right">
		                    <li class="dropdown">
		                        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
		                            <i class="fa fa-envelope"></i>
		                            <span class="label label-warning">16</span>
		                        </a>
		                        <ul class="dropdown-menu dropdown-alerts">
		                            <li class="m-t-xs">
		                                <div class="dropdown-messages-box">
		                                    <div class="media-body">
		                                        <small class="pull-right">2小时前</small>
		                                        <strong>套马杆的汉子</strong> 评论了你的文章
		                                        <br>
		                                        <a href="#" title="点击查看"><small class="text-muted">Java依赖注入(DI)实例详解</small></a>
		                                    </div>
		                                </div>
		                            </li>
		                            <li class="divider"></li>
		                            
		                        </ul>
		                    </li>
		                    <li class="dropdown" th:if="${session.SPRING_SECURITY_CONTEXT} ne null">
		                        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
		                             <img th:title="${session.SPRING_SECURITY_CONTEXT.authentication.principal.nickname}" style="width: 30px;" class="img-circle" th:src="${session.SPRING_SECURITY_CONTEXT.authentication.principal.avatar}">
		                        </a>
		                        <ul class="dropdown-menu dropdown-alerts" style="max-width:110px;">
		                            <li>
		                                <a style="padding: 0px 0px;" href="/user">
		                                    <div>
		                                        <i class="glyphicon glyphicon-edit"></i> 修改信息
		                                    </div>
		                                </a>
		                            </li>
		                            <li class="divider"></li>
		                            <li>
		                                <a style="padding: 0px 0px;" href="/logout" >
		                                    <div>
		                                        <i class="glyphicon glyphicon-log-out"></i> 退出登录
		                                    </div>
		                                </a>
		                            </li>
		                        </ul>
		                    </li>
		                </ul>
		            </nav>
		        </div>
    </div>
</body>

</html>